* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: fit-content;
    margin: 0;
    padding: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 100px repeat(2, 50%);
    grid-template-rows: 70px 50px 1fr;
    height: 100%;
    column-gap: 30px;
    margin: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.todo-list {
    border: 1px solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-rows: 6rem 1fr;
    border-radius: 5px;
    min-width: 40rem;
    padding: 0 2rem;
    padding-bottom: 30px;
    /* margin: 10px; */
    margin-right: 10px;
    margin-bottom: 10px
}

#todo-lists {
    grid-row-end: -1;
    grid-area: 2 / 2 / -1 / 3;
    display: flex;
}

button.add-list {
    grid-column-start: 1;
    height: 30px;
    position: sticky;
    left: 10px;
}

h1 {
    grid-column-end: 3;
}

.list-title {
    border: none;
    border-bottom: 1px black solid;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0);
}

.list-title:hover {
    background-color: rgb(235, 235, 235);
}

.todos {
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-row-end: -1;
    overflow: scroll;
}

.task-title {
    font-size: 1rem;
    align-self: center;
    overflow: hidden;
}

.task-info {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    text-align: left;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 300px 100px 100px;
    padding: 10px;
    margin: 0;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: color .1s ease,
    transform .1s ease;
}

button.checkbox {
    background-image: url("./img/checkbox-blank-circle-outline.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 1.5rem;
    width: 1.5rem;
    /* border: none; */
    border: rgba(255, 255, 255, 0) solid 0px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    margin: 10px;
    padding: 0;
    transition: transform .1s ease;
}

button.checkbox:hover {
    background-image: url("./img/check-circle-outline.svg");
}

button.checkbox:active {
    background-image: url("./img/check-circle.svg")
}

span.background {
    display: none;
}

button {
    cursor: pointer;
}

.task {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: rgb(240, 240, 240);
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    margin-bottom: 10px;
    /* border-bottom: 10px black solid; */
    max-height: 200px;
    transition: margin-bottom .1s ease, 
    max-height .1s ease;
    /* background-color 0..1s ease; */
    /* transition: margin-bottom .5s; */
}

.task.deleted {
    max-height: 0px;
    margin-bottom: 0px;
}

.task-info.deleted, .checkbox.deleted {
    transform: scaleY(0)
}

button.add-task {
    grid-column-start: 1;
    grid-row-start: 3;
    height: 30px;
    position: sticky;
    left: 10px;
}

button.delete-list {
    margin-top: 10px;
}

.due-date {
    width: 100%;
    align-self: center;
    text-align: end;
    padding-right: 5px;
}

form.edit-task,
form.new-task {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

dialog {

    border-radius: 5px;
}

form>.title,
form>.description,
form>.due-date-input,
form>.list-select {
    display: flex;
    flex-direction: column;
}

form>.title {
    width: 100%;
}

#description,
#new-description {
    resize: none;
}

input,
select,
button,
textarea {
    font-size: 1rem;
}

textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

label {
    font-size: 1rem;
}

.name {
    margin-bottom: 10px;
}

.priority-display {
    align-self: center;
    justify-self: center;
}